<!DOCTYPE html>
<html>
  <%- include('./partial/head.ejs') %>
  <body>
    <%- include('./partial/today.ejs') %> 
  <a id="title" href="/"><h1>TODOLIST</h1></a>
  <%- include('./partial/header.ejs') %> 
  
    <div id="for_align">
      
      <% if (date.length !== 0){%>
          <% for (var i=0;i<date.length;){ %>
              <div class="scheduleContainer">
                <div class="to_do">
                  <h3 class="date"><%= date[i]%></h3>
                  <p class="description" ><%=description[i]%></p>
                </div>  
              
              <% if(todays[0]!==undefined){%>

              <% }else{%>
                <div id="form_container">
                  <% let splitElement = date[i].split(' ');%>
                  <% let splited = splitElement[1]; %> 
                  <% let splitedDate = splited.split('일')[0]; %>
                  <form class='delete_form' action="/delete_process" method="post">
                    <input type="hidden" name="date"value="<%= date[i]%>"> 
                    <input class="btn delete_btn" type="submit" value="삭제"></input>
                  </form>
                  <form class="update_form" action="/update" method="post">
                    <input type="hidden" name="month" value="<%= selectedMonth %>">
                    <input type="hidden" name="date" value="<%= splitedDate %>">
                    <input class="btn" type="submit" value="수정">
                  </form>
                </div>
              <% } %> 
                
              </div>
              <% i = i+1 %>
          <%}%>
          <%}else{%>
              <div class="noticeContainer">
                <h3 class="notice">오른쪽 아래 버튼을 누르세요</h3>                
              </div>
            <%}%>
      
    </div>
    <script src="/js/date.js"></script>
  </body>
</html>