<!DOCTYPE html>
<html>
<%- include('./partial/head.ejs') %> 
<body>
  <%- include('./partial/today.ejs') %> 
  <a id="title" href="/"><h1>TODOLIST</h1></a>
<div id='update'>
  <h2 class="update_date" ><%= `${month}월 ${date}일` %></h2>
  <form id="create" action="/update/process" method="post"   >
    <input type="hidden" name="month" value="<%= month %> ">
    <input type="hidden" name="date" value="<%= date %>" >
    <textarea name="toDo" id="toDo" cols="30" rows="10"><%= file %></textarea>
    <input class="btn" type="submit" value="수정하기">
  </form>
</div>

  <script src="/js/date.js"></script>
</body>
</html>