    <nav >
      <ul id="for_desk" class="month_container">
        <% const makeLi= (month)=>{%>
          <% if(selectedMonth==month){%>
          <li class="month"><a style="color:tomato;" href="/?month=<%= month %>"><%= month %>월</a></li>
        <%}else{%>
          <li class="month"><a href="/?month=<%= month %>"><%= month %>월</a></li>
        <%} %> 
        <%} %> 
        <%makeLi(1)%>
        <%makeLi(2)%>
        <%makeLi(3)%>
        <%makeLi(4)%>
        <%makeLi(5)%>
        <%makeLi(6)%>
        <%makeLi(7)%>
        <%makeLi(8)%>
        <%makeLi(9)%>
        <%makeLi(10)%>
        <%makeLi(11)%>
        <%makeLi(12)%>

      </ul>
      <div id="for_phone">
        <%var dateObj = new Date();%>
        <%var nowMonth = dateObj.getUTCMonth() + 1; //months from 1-12%>
        <% if(selectedMonth ===undefined){%>
          
          <% selectedMonth='오늘 일정'%>
          <% linkBack = nowMonth-1 %>
          <% link = nowMonth%> 
         <%}else{ %>
        <% selectedMonth=parseInt(selectedMonth) %>
        <% var linkBack = selectedMonth-1 %> 
        <% var link = selectedMonth+1 %> 
        <%}%>
        <% if(selectedMonth>12){%>
          <%selectedMonth=1%>
        <%}else if(selectedMonth<1){%>
          <%selectedMonth=12%>
        <%} %>
        
        <% if (linkBack==0){%>
          <%linkBack=12%>
        <%} %>
        <% if (link==13){%>
          <%link=1%>
        <%} %>
        
      <a href="/?month=<%= linkBack %>"><i class="fas fa-angle-left angle"></i></a>
      <%if (selectedMonth=='오늘 일정'){%>
        <span id="p_month"><%= selectedMonth %></span>
      <%}else{%>
        <span id="p_month"><%= `${selectedMonth}월` %></span>
      <%}%>
      
      <a href="/?month=<%= link %>"><i class="fas fa-angle-right angle"></i></a>
      </div>
    </nav>
    
    <a class="for_create" href="/create"><i class="fas fa-plus-circle create_btn"></i></a>